<%= form_for :user, url: "/doctors", html: {class: 'well form-horizontal'} do |form|%>
      <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
              <%= link_to 'Regresar', doctors_path, class: 'btn btn-success' %>

                <h1>Registrar Doctor</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <!-- Form -->
                    <div class="container">

                      <form class="well form-horizontal">
                        <fieldset>

                          <!-- HEADER DIV -->
                          <div class="form-group">
                            <h4 class="col-md-7 control-label">Datos del Doctor</h4>
                          </div>

                          <!-- Text input-->
                          <%= form.fields_for :doctor_attributes, Doctor.new do |builder| %>
                            <div class="form-group">
                              <label class="col-md-4 control-label">Nombre(s)</label>
                              <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                  <%= builder.text_field :first_name, id: :first_name, class: "form-control" %>
                                </div>
                                <p id="error_first_name" class="error_p"></p>
                              </div>
                            </div>

                            <!-- Text input-->

                            <div class="form-group">
                              <label class="col-md-4 control-label">Apellido Paterno</label>
                              <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                  <%= builder.text_field :last_name_father, id: :last_name_father, class: "form-control" %>
                                </div>
                                <p id="error_last_name_father" class="error_p"></p>
                              </div>
                            </div>

                            <!-- Text input-->

                            <div class="form-group">
                              <label class="col-md-4 control-label">Apellido Materno</label>
                              <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                  <%= builder.text_field :last_name_mother, id: :last_name_mother, class: "form-control" %>
                                </div>
                                <p id="error_last_name_mother" class="error_p"></p>
                              </div>
                            </div>


                            <!-- Text input-->

                            <div class="form-group">
                              <label class="col-md-4 control-label">Cedula</label>
                              <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                  <%= builder.text_field :cedula, id: :cedula, class: "form-control" %>
                                </div>
                                <p id="error_last_name_mother" class="error_p"></p>
                              </div>
                            </div>
                          <% end %>
                          <!-- Text input-->

                          <div class="form-group">
                            <label class="col-md-4 control-label">E-Mail</label>
                            <div class="col-md-4 inputGroupContainer">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                              </div>
                              <p id="error_username" class="error_p"></p>
                            </div>
                          </div>

                          <!-- Text input-->

                          <div class="form-group">
                            <label class="col-md-4 control-label">Contraseña</label>
                            <div class="col-md-4 inputGroupContainer">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-key"></i></span>
                                <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
                              </div>
                              <p id="error_password" class="error_p"></p>
                            </div>
                          </div>

                          <!-- Text input-->

                          <div class="form-group">
                            <label class="col-md-4 control-label">Verificar Contraseña</label>
                            <div class="col-md-4 inputGroupContainer">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-key"></i></span>
                                <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                              </div>
                              <p id="error_verify_password" class="error_p"></p>
                            </div>
                          </div>
                          <!-- Success message -->
                          <div class="alert alert-success" role="alert" id="success_message">Exito
                            <i class="glyphicon glyphicon-thumbs-up"></i>Has sido registrado
                            exitosamente.</div>

                          <!-- Error message -->
                          <div class="alert alert-danger" role="alert" id="error_message">Error
                            <i class="glyphicon glyphicon-thumbs-down"></i> Hay un error en el
                            registro.</div>
                        </fieldset>
                      </form>
                      <div class="pull-right">
                        <div class="actions">
                          <%= form.submit 'Registrar doctor', class: 'btn btn-success' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.container -->
                  <!-- Form -->
                </div>
              </div>
            </div>
            <!-- /.col-lg-12 -->
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
      </div>
<% end %>
